<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam 123</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/list.css}">

</head>
<body>

<div>
    <!-- The form below should invoke the method EmployeeController.showNews -->
    <form id="filter-form">
        <label for="f1">YearsOfService</label>
        <input id="f1" type="number"/>
        <label for="f2">Skill</label>
        <select id="f2">
            <option value="">All</option>
            <!-- For each skill you should have one <option> like below  -->
            <option> [skill]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- EmployeeController.showAdd (Only ADMIN can see this element)-->
            <a href="/employees/add" class="add-item">
                Add
            </a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
        <!-- For each employees you should have one <tr> like below -->
        <tr class="item" th:each="emp : ${employees}">
            <td  th:text="${emp.getName()}">[employees.name]</td>
            <td th:text="${emp.getEmail()}">[employees.email]</td>
            <td th:text="${emp.getType()}">[employees.type]</td>
            <td>
                <!-- For each of the employee.skills show the following element-->
                <span class="item-rel"
                th:each="skill : ${emp.getSkills()}"
                th:text="${skill.getName()}"> [skill.name]</span>
            </td>
            <td>
                    <!-- EmployeeController.delete (Only ADMIN can see this element)-->
                    <form method="post" th:action="@{'/employees/{id}/delete' (id=${emp.getId()})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- EmployeeController.showEdit (Only ADMIN can see this element)-->
                    <a class="edit-item" th:href="@{'/employees/{id}/edit' (id=${emp.getId()})}">Edit</a>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/logout">TEST12345</a> </li>
    </ul>
</div>
</body>
</html>
